// Importing edit.scss file
@import './edit.scss';

/* set the width and height of your scrollbar */
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background-color: #c1bfbfe2;
}

/*style the thumb of your scrollbar*/
::-webkit-scrollbar-thumb {
  background-color: $sec_light_color;
}
// 

/* Customizing The CSS file */
* {
  font-family: 'Inconsolata', monospace;
  @include addPrefixes(box-sizing, border-box, webkit moz ms o);
  padding: 0;
  margin: 0;
  border: none;
  &:focus {
    outline: none;
  }
}
body {
  font-family: "Roboto", serif;
  background-color: $sec_light_color;
}
/* Main wrapper Styles */
.main-wrapper {
  width: 90%;
  max-width: 25rem;
  background-color: $sec1_white_color;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: .8rem;
  padding: 2rem;
  // Header Styles
  .app-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid $dark_color;
    .app-icon {
      width: 9.37rem;
    }
    .app-title {
      font-weight: bold;
    }
  }
  // Amount Section Styles
  .amount {
    margin-top: 2.2rem;
    label {
      font-size: 1.5rem;
      font-weight: 800;
    }
    #amount {
      width: 65%;
      border-bottom: 2px solid $sec2_white_color;
      background-color: transparent;
      font-size: 1.2rem;
      color: $dark_color;
      margin-bottom: 1.5rem;
      padding: 0.4rem;
      &:focus {
        font-size: 1.1rem;
        color: $grey_color;
        border-bottom: 2px solid $grey_color;
      }
    }
  }
  // Selection Section Styles
  .select-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
    select {
      width: 100%;
      padding: .5rem;
      font-size: 2rem;
      cursor: pointer;
      background-color: $sec2_white_color;
      color: $dark_color;
      border-radius: 0.7rem;  
    }
  }
  // Result Section Styles
  .result-area {
    #convert {
      width: 100%;
      font-size: 1.2rem;
      font-weight: bold;
      padding: .8rem;
      border-radius: 0.7rem;
      background-color: $sec2_white_color;
      color: $dark_color;
      transition: .3s;
      cursor: pointer;
      &:hover {
        background-color: #ffffff52;
      }
    }
    #result {
      margin-top: 1rem;
      background-color: #ffffff47;
      padding: .5rem;
      border-radius: .5rem;
      color: $dark_color;
      font-size: 1.2rem;
      text-align: center;
      display: none;
      }
  }
}
/*// Main wrapper Styles //*/